* {box-sizing: border-box;}

body {margin: 0;}

main {
	/* Open question: If this were max-height instead, the Send form would snap
	up to immediately under the received whispers. Would that be better? */
	height: 100vh;
	padding: 8px;
	display: flex;
	flex-direction: column;
}

main > * {
	flex: 0 0;
}

main > #messages {
	flex: 1 1;
	overflow-y: auto;
}

#messages li {
	line-height: 28px;
}

#messages li img {
	vertical-align: middle;
}

li.heading {
	list-style-type: none;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

li.hidden {display: none;}

.username {
	font-weight: bold;
}

nav label {
	cursor: pointer;
}
